{{define "_footer"}}



<div class="b-example-divider"></div>
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/salas" class="nav-link px-2 text-muted">Salas</a></li>
        <li class="nav-item"><a href="/users" class="nav-link px-2 text-muted">Usuarios</a></li>
        <li class="nav-item"><a href="/pegarchave" class="nav-link px-2 text-muted">Pegar chave</a></li>
      </ul>
      <p class="text-center text-muted">Alunos: Andrew Devos 72409 - Henrique Strieder 157642 - Ricardo Pinkoski Luzzardi 149730 - Renan Hurtado 132884</p>
        <p class="text-center text-muted">A soluçao porposta pelos alunos foi, desenvolver uma aplicação web, para gerenciar as chaves dos laboratorios e salas do c3 usando um sistema de verificação com a linguagem Golang, para o backend, já no frontend vamos usar  bootstrap e no banco de dados sql, para essa soluçao vamos nos guiar pelos conseitos de orientação a objetos, acesso a banco de dados e vamos tambem iremos utilizar o conceito de modularizaçao MVC</p>
    
      <p class="text-center text-muted">&copy; Copyright by 2023 - Sistemas de Informação / FURG</p>
    </footer>
  </div>
{{end}}