{{define "Index"}}


{{template "_head"}}

{{template "_navbarhome"}}

<body>
   
    <div class="container">
        <div class="row">
          <div class="col"><img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzz5wxV3skI7l6eq4BT3D0k1cix9H_B-WhGVHh061amQ&s" class="img-fluid" alt="c3"></div>
          <div class="col"><h2>Bem vindo ao sistema de chaves<br></h2>
          <p>Furg C3</p>
          </div>
          <!-- <div class="w-100"></div>
          <div class="col">Coluna</div>
          <div class="col">Coluna</div> -->
        </div>
      </div>


    {{template "_footer"}}

</body>
<script>
    
</script>
</html>
{{end}}
