{{define "Users"}}

{{template "_head"}}

{{template "_navbarusers"}}

<body>
   
    <div class="container-responsive container">
        <section class="card">
            <div class="container">
                <table class="table table-striped table-hover mb-0 table-responsive">
                    <thead>
                        <tr>
                            <td><img src="https://png.pngtree.com/png-vector/20190909/ourmid/pngtree-outline-user-icon-png-image_1727916.jpg" alt="logo c3" width="55" height="50" class="rounded-circle"></td>
                            <td><h3 class="text-justify">Usuarios</h3></td>
                            <!-- <td><a  href="/new" class="btn btn-primary mb-10">Nova sala</a></td> -->
                            <td><a  class="btn btn-primary" href="/newuser">Novo user</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Nome</th>
                            <th>Senha</th>
                            <th>Nivel ADM</th>
                            <th>Chaves disponiveis</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        {{range .}}
                        
                        <tr>
                            <!-- CADA VEZ QUE CRIO UMA SALA ELE CRIA 2 NOVOS USUARIOS EM BRANCO -->
                            <td>{{.Username}}</td>
                            <td>{{.Password}}</td>
                            <td></td>
                            <td></td>
                            <!-- fazer pagina de criaçao e conectar dados -->
                            <td><a href="/deletausuario?id={{.Id}}" class="btn btn-danger">Delete</a></td>

                            <!-- descobrir de onde vem o edit -->
                            <!-- <td><a href="edit?id={{.Id}}" class="btn btn-info">Editar</a></td> -->
                           <!-- BUTTON ESTA COM PROBLEMA DESCOBIRI QUAL É -->
                            <!-- <td><button onclick="onDelete('{{.Id}}')"class="btn btn-danger">Deletar</button></td> -->
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>

        
        
    </div>

    {{template "_footer"}}

</body>
<script>
    function onDelete(id) {
        let resposta = confirm("Tem certeza que vais deletar?")
        if (resposta){
            window.location = "/delete?id=" + id 
        }
    }
</script>
</html>
{{end}}
